name: build-and-test

on:
  push:
    branches:
      - main
      - develop
    paths-ignore:
      - "docs/**"
      - "README.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "README.md"
    types: [opened, edited, synchronize]

env:
  POETRY_VERSION: '1.5.1'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    continue-on-error: true
    strategy:
      matrix:
        python-version: ["3.7.11", "3.8", "3.10", "3.12"]
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        uses: ./.github/actions/install
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run unittest
        run: |
          cd perception_eval
          poetry run python -m pytest

      - name: Run mock test
        run: |
          cd perception_eval
          poetry run python -m test.perception_lsim test/sample_data/ --use_tmpdir
          poetry run python -m test.perception_lsim2d test/sample_data/ --use_tmpdir
          poetry run python -m test.sensing_lsim test/sample_data/ --use_tmpdir
          poetry run python -m test.eda test/sample_data/
