name: test-mock

on:
  push:
    branches:
      - main
      - develop
    paths-ignore:
      - "docs/**"
      - "README.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "README.md"

jobs:
  test-mock:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        python-version: ["3.7.11", "3.8", "3.9"]
        lsim-task: [test.perception_lsim, test.sensing_lsim]
        visualization-task: [test.eda]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          curl -sSL https://install.python-poetry.org | python -
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          poetry install

      - name: Test perception lsim
        run: |
          cd perception_eval
          poetry run python -m ${{ matrix.lsim-task }} test/sample_data/ --use_tmpdir
          poetry run python -m ${{ matrix.visualization-task }} test/sample_data/
