name: build-and-test

on:
  push:
    branches:
      - main
      - develop
    paths-ignore:
      - "docs/**"
      - "README.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "README.md"

jobs:
  build-and-test:
    runs-on: ubuntu-20.04
    continue-on-error: true
    strategy:
      matrix:
        python-version: ["3.7.11", "3.8", "3.9"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          curl -sSL https://install.python-poetry.org | python -
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          poetry install

      - name: Test with unittest
        run: |
          cd perception_eval
          poetry run python -m pytest
